<!DOCTYPE html>
<html ng-app="myApp" lang="pt-br">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>
<div class="container" ng-controller="myCtrl">
    <div class="row">
        <div class="page-header">
            <h1>Lista de compras Natal</h1>
        </div>
    </div>
    <div>
        <h3>Quant de Itens:{{getTotalitens()}}</h3>
    </div>
    <div class="row">
        <form class="form-inline" name="formItem">
            <input type="text" ng-model="item.produto" placeholder="Produto">
            <input type="number" ng-model="item.quantidade" placeholder="Quantidade" class="input-small">
            <button class="btn btn-primary"   ng-click="adicionaItem()">adicionar</button>
        </form>

    </div>
    <div class="row">
        <table id="lista-compras" class="table table-striped">
            <thead>
            <tr>
                <th>Comprado?</th>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in itens" class="comprado-{{ item.comprado }}">
                <td><input type="checkbox" ng-model="item.comprado"></td>
                <td><strong>{{ item.produto }}</strong></td>
                <td>{{ item.quantidade }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>
