#lista-compras {
    width: 460px;
}
#lista-compras td, #lista-compras th {
    text-align: center;
}
.comprado-true {
    text-decoration: line-through;
    color: red;
}
.form{
    width: 460px;
    margin: auto;
    border: 1px solid #6f6f6f;
    border-radius: 10px;
    padding: 5px;
}
.titulo{
    margin: auto;
    width: 300px;
}
